/* Main container */
.login_container {
  display: grid;
  place-items: start center; /* Adjusted to align items at the start vertically */
  min-height: 95vh;
  position: relative;

  background-color: #f0f2f5;
  padding: 20px;
  margin: 1rem auto 0;
  border:1px solid #CBCBCB;
}

.login_content {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 320px;
  position: relative;
  margin-top: 1rem; /* Ensure it's 1rem from the top within its parent */
}

.login_upper {
  display: grid;
  gap: 0.5rem;
}

.login_upper h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.login_upper .para, .upper .para2 {
  font-size: 1rem;
  color: #919191;
  font-weight: bold;
}

/* Form styling simplified */
.form {
  display: grid;
  gap: 20px;
}

.form-field {
  display: grid;
  gap: 4px;
}

.form-field input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-field label {
  position: absolute;
  top: -10px;
  left: 10px;
  
  padding: 0 4px;
  color: #0056b3;
  transition: all 0.2s;
  font-size: 14px;
}



/* Button styling */
button {
  padding: 12px;
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.login_btn{
  background-color: #CBCBCB;
}



/* Responsive adjustments for better mobile responsiveness */
@media (max-width: 768px) {
  .login_container {
      
      padding: 15px;
  }

  .login_upper h1 {
      font-size: 1.4rem; /* Slightly smaller for medium screens */
  }
}

@media (max-width: 480px) {
  .login_container {
     
      padding: 10px; /* Adjust padding to ensure content doesn't touch the edges */
      box-sizing: border-box; /* Include padding in the width calculation */
      max-width: none; /* Override any max-width set previously */
  }

  .login_content {
      width: calc(100% - 20px); /* Adjust width to account for padding, preventing horizontal scroll */
      margin: 0 auto; /* Center the content if needed */
      gap: 15px; /* Adjust gap for a tighter layout */
  }

  .login_upper h1 {
      font-size: 1.2rem; /* Further adjust for smaller screens */
  }

  .login_upper .para, .login_upper .para2 {
      font-size: 0.9rem; /* Adjust text size for readability */
  }

  .form-field input, .form-field label {
      font-size: 14px; /* Smaller font for inputs and labels */
  }

  button {
      font-size: 14px; /* Adjust button font size for consistency */
  }
}

